<!DOCTYPE html>
<html>

<head>
    <title>Asamblea</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .i {
        color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i i {
        transition: .3s;
    }

    .input-div > div {
        position: relative;
        height: 45px;
    }

    .input-div > div > h5 {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
        transition: .3s;
    }

    .input-div:before,
    .input-div:after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background-color: #38d39f;
        transition: .4s;
    }

    .input-div:before {
        right: 50%;
    }

    .input-div:after {
        left: 50%;
    }

    .input-div.focus:before,
    .input-div.focus:after {
        width: 50%;
    }

    .input-div.focus > div > h5 {
        top: -5px;
        font-size: 15px;
    }

    .input-div.focus > .i > i {
        color: #fdfdfe;
    }
</style>
<body class="bg-gray-300" style="font-family: Roboto;">
<div class="h-screen flex justify-center items-center">
    <div class="bg-white rounded-lg w-2/5 px-16 py-16">
        <form method="post" action="/Auth">
            <div class="flex font-bold justify-center">
                <img class="h-20 w-30"
                     src="./images/logo-micoope.png">
            </div>
            <h2 class="text-3xl text-center text-blue-900 "><b>XX ASAMBLEA</b></h2>

                <p class="text-center text-green-600 uppercase">Coosanjer es Micoope</p>

            <div class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
                 style="grid-template-columns: 7% 93%;">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>DPI</h5>
                    <input type="text" class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-700"
                           name="username"
                           style="background:none;" required>
                </div>
            </div>
            <div class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
                 style="grid-template-columns: 7% 93%;">
                <div class="i">
                    <i class="fas fa-book"></i>
                </div>
                <div class="div">
                    <h5>Cuenta Aportaciones</h5>
                    <input type="text"
                           class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-700"
                           name="password"
                           style="background:none;" required>
                </div>
            </div>
            <button type="submit"
                    class="w-full py-2 rounded-full bg-green-600 text-gray-100  focus:outline-none">Entrar
            </button>
        </form>
    </div>
</div>
<%- include('../partials/common.ejs'); -%>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    const inputs = document.querySelectorAll("input");


    function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }


    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });

</script>
</body>
</html>