<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Asistencia</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
<div class="bg-white p-2 w-screen h-40 ">
    <div>
        <img src="/images/logo-micoope.png" alt="Logo MICOOPE" class="float-left w-32 p-2">
    </div>
    <div class="text-center">
        <h1 class="text-4xl text-blue-900 font-bold">XX Asamblea </h1>
        <p class="text-base font-semibold text-green-600 ">Cooperativa Coosanjer 2021</p>
    </div>
</div>

<div>
    <table>

    </table>
</div>

<!-- component -->
<div>
    <table class="min-w-full table-auto">
        <thead class="justify-between">
        <tr class="bg-gray-800">

            <th class="px-16 py-2">
                <span class="text-gray-300">NOMBRE</span>
            </th>
            <th class="px-16 py-2">
                <span class="text-gray-300"># DE CUENTA</span>
            </th>
            <th class="px-16 py-2">
                <span class="text-gray-300"># DE TELEFONO</span>
            </th>




        </tr>
        </thead>
        <tbody class="bg-gray-200">

            <td>
                <span class="text-center ml-2 font-semibold">Dean Lynch</span>
            </td>
            <td class="px-16 py-2">
                <span>111111111196</span>
            </td>
            <td class="px-16 py-2">
                <span>45678905</span>
            </td>


            
        </tr>
        <tr class="bg-white border-4 border-gray-200">

            <td>
                <span class="text-center ml-2 font-semibold">Ralph Barnes</span>
            </td>
            <td class="px-16 py-2">
                <span>111111111196</span>
            </td>
            <td class="px-16 py-2">
                <span>34567823</span>
            </td>



        </tr>
        <tr class="bg-white border-4 border-gray-200">

            <td>
                <span class="text-center ml-2 font-semibold">Brett Castillo</span>
            </td>
            <td class="px-16 py-2">
                <span>111111111196</span>
            </td>
            <td class="px-16 py-2">
                <span>34256789</span>
            </td>



        </tr>
        </tbody>
    </table>
</div>




<script>
    // window.onload = function() {
    //     console.log("Hola soy Goku")
    //     window.print()
    // }
</script>
</body>
</html>
