<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Administrador</title>
</head>
<body class="bg-gray-300 overflow-x-hidden" style="font-family: Roboto;">
    <%- include('../partials/header.ejs') %>
<br>

    <div class="flex w-screen justify-center items-center ">
        <div class="bg-white w-5/6  m-4 py-8 px-4 rounded-lg shadow-lg ">
            <div class="container ">
                <iframe width="100%"
                        height="800px"
                        src="https://datastudio.google.com/embed/reporting/6fe1ffc1-d999-4b19-83cd-4e0a242a9062/page/UQSXC"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen>
                </iframe>
                <iframe width="100%"
                        height="800px"
                        src="https://datastudio.google.com/embed/reporting/72f5c2ff-48c2-4f65-a750-b069bb2c0467/page/UgIXC"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

</body>
</html>
